<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/footerstyle.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row addcart">
        <div class="col">
          <span class="logoMedi">
            <a class="login-home-icon" href="/dashboard"><img
                src="/images/favicon.png"
                alt=""
              />
              Medicana</a>
          </span>
        </div>
      </div>
    </div>

  </body>
</html>